@tailwind base;
@tailwind components;
@tailwind utilities;

.primary{
    @apply bg-[#1f1f1f];
}

*{

}
body{
    background-color: whitesmoke;
}

.glass{
    background: rgba(230, 230, 230, 0.64);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
}