@tailwind base;
@tailwind components;
@tailwind utilities;

.primary{
    @apply bg-[#1f1f1f];
}

*{

}
body{
    background-color: rgba(0,0,0,0.85);
}

.glass{
    background: rgba(230, 230, 230, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

